<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>EveryDay Cart</title>
  <link rel="icon" href="/images/fd_images/logo-1.png">
  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/FrontEnd/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/style.css">
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/cart.css">
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/owl.css">
</head>

<body>
  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h2>every<em>day</em></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Our Products</a>
            </li>

            <% if(loginstate==0){ %>
              <a class="nav-link" href="/login">Log In</a>
              <% } %>

                <% if(loginstate==1){ %>
                  <li class="nav-item sub-menus">
                    <a class="nav-link">
                      <%= usernamedata.username %>
                    </a>
                    <ul>
                      <li><a href="/profile"><i class="fa fa-edit"></i> Edit Profile</a></li>
                      <li><a href="/status"><i class="fa fa-clipboard"></i> Check status</a></li>
                      <li><a href="/logout"><i class="fa fa-sign-out"></i> Log out</a></li>
                    </ul>

                  </li>
                  <% } %>

                    <li class="nav-item">
                      <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Status</a>
                </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Page Content -->
  <div class="page-heading cart-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>Have fun reading the book</h4>
            <h2>EveryDay cart</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Content -->
  <div class="container">

    <section id="cart">
     
        <% if(data.length) { %> 
          <% for(let i=0; i < data.length; i++) { %>
          <article class="product">
            
             
            <div class="product-header">
              <a class="remove" onclick="addcart(<%= data[i].book_id %>)">
                <img src="/<%= data[i].book_image %>" alt="">

                <h3>Remove product</h3>
              </a>
            </div>

            <div class="content">

              <h1><%= data[i].book_name %></h1>
              <p><%= data[i].book_details %></p>
            </div>

            <footer class="content">
              <span class="qt-minus" onclick="delcount(<%= data[i].book_id %>)">-</span>
              <span class="qt">1</span>
              <span class="qt-plus" onclick="addcartcount(<%= data[i].book_id %>)">+</span>

              <h2 class="full-price">
                <%= data[i].book_price %>฿
              </h2>

              <h2 class="price">
                <%= data[i].book_price %>฿
              </h2>
            </footer>
             
          </article>
       <% } %> 
            <% } %>
    
          <!-- if result is empty -->
          <% if(!data.length) { %>
            <p class="text-center">No product found!</p>
          <% } %>

    </section>

  </div>

  <footer id="site-footer">
    <div class="container clearfix">
      <% if(data.length) { %>
        <% for(let i=0; i < data.length; i++) { %>
      <div class="left">
        <h2 class="subtotal">Subtotal: <span><%= data[i++].book_price%></span>฿</h2>
        <h3 class="shipping">Shipping: <span>50.00</span>฿</h3>
      </div>
      <% } %>
      <div class="right">
        <h1 class="total">Total: <span>0</span>฿</h1>
        <a class="btn" href="/checkout">Checkout</a>
      </div>
       
      <% } %>
    </div>
  </footer>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>EveryDay BY My team</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/javascripts/fd_js/jquery.min.js"></script>
  <script src="/javascripts/fd_js/bootstrap.bundle.min.js"></script>

  <!-- Additional Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/javascripts/fd_js/cart.js"></script>
  <!-- Additional Scripts -->
  <script src="/javascripts/fd_js/custom.js"></script>
  <script src="/javascripts/fd_js/owl.js"></script>

</body>

<script>
  var xhr = new XMLHttpRequest();

  function addcart(x) {
    xhr.open("POST", '/api/user/removecart', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
      book_id: x
    }));

    xhr.onreadystatechange = function () {
      if (this.readyState != 4) return;

      if (this.status == 200) {
          var data = JSON.parse(this.responseText);
          console.log(data);
          
      }
    };
  }

  function addcartcount(x) {
    xhr.open("POST", '/api/user/cartcount', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
      book_id: x,
      type: "add"
    }));

    xhr.onreadystatechange = function () {
      if (this.readyState != 4) return;

      if (this.status == 200) {
          var data = JSON.parse(this.responseText);
          console.log(data);
          
      }
    };
  }
  function delcount(x) {
    xhr.open("POST", '/api/user/cartcount', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
      book_id: x,
      type: "remove"
    }));

    xhr.onreadystatechange = function () {
      if (this.readyState != 4) return;

      if (this.status == 200) {
          var data = JSON.parse(this.responseText);
          console.log(data);
          
      }
    };
  }

</script>
</html>