<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>EveryDay Products</title>
  <link rel="icon" href="/images/fd_images/logo-1.png">

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/FrontEnd/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/style.css">
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/owl.css">
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/product.css">

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h2>every<em>day</em></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/products">Our Products</a>
            </li>
            <% if(loginstate==0){ %>
              <a class="nav-link" href="/login">Log In</a>
              <% } %>

                <% if(loginstate==1){ %>
                  <li class="nav-item sub-menus">
                    <a class="nav-link">
                      <%= usernamedata.username %>
                    </a>
                    <ul>
                      <li><a href="/profile"><i class="fa fa-edit"></i> Edit Profile</a></li>
                      <li><a href="/status"><i class="fa fa-clipboard"></i> Check status</a></li>
                      <li><a href="/logout"><i class="fa fa-sign-out"></i> Log out</a></li>
                    </ul>

                  </li>
                  <% } %>
                    <li class="nav-item">
                      <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <!-- <li class="nav-item">
                <a class="nav-link" href="#">Status</a>
              </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <div class="page-heading products-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>new arrivals</h4>
            <h2>EveryDay products</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- serach -->
  <div class="search_box">
    <div class="search_btn"><i class="fa fa-search"></i></div>
    <input spellcheck="false" autocomplete="off" name="typeahead" type="text" class="input_search" placeholder="Search">
  </div>
  <!-- end serach -->
  <div class="products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="filters-content">
            <div class="row grid">
              <% if(data.length) { %>
                <% for(let i=0; i < data.length; i++) { %>
                  <div class="col-lg-4 col-md-4 all des">

                    <div class="product-item">
                      <a href="/product-detail/<%= data[i].book_id %> "><img src="/<%= data[i].book_image %>"
                          alt=""></a>
                      <div class="down-content">
                        <a href="/product-detail/<%= data[i].book_id %>">
                          <h4>
                            <%= data[i].book_name %>
                          </h4>
                        </a>
                        <p>
                          <%= data[i].book_price%> บาท
                        </p>
                        <p>
                          <%= data[i].book_details %>
                        </p>
                        <a onclick="addcart(<%= data[i].book_id %>)"><i class="fa fa-cart-plus"></i></a>
                      </div>
                    </div>

                  </div>
                  <% } %>
                    <% } %>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <ul class="pages">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>EveryDay BY My team</p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  
  <!-- Bootstrap core JavaScript -->
  <script src="/javascripts/fd_js/jquery.min.js"></script>
  <script src="/javascripts/fd_js/bootstrap.bundle.min.js"></script>


  <!-- Additional Scripts -->
  <script src="/javascripts/fd_js/custom.js"></script>
  <script src="/javascripts/fd_js/owl.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


      </body>

      <script>
        var xhr = new XMLHttpRequest();
      
        function addcart(x) {
          xhr.open("POST", '/api/user/addcart', true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify({
            book_id: x
          }));
      
          xhr.onreadystatechange = function () {
            if (this.readyState != 4) return;
      
            if (this.status == 200) {
                var data = JSON.parse(this.responseText);
                console.log(data);
                
            }
          };
        }
      </script>

</html >