<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>EveryDay Products</title>
  <link rel="icon" href="/images/fd_images/logo-1.png">
  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/FrontEnd/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/style.css">
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/owl.css">
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/product-detail.css">
</head>

<body>
  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h2>every<em>day</em></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/products">Our Products</a>
            </li>
            <% if(loginstate==0){ %>
              <a class="nav-link" href="/login">Log In</a>
              <% } %>

                <% if(loginstate==1){ %>
                  <li class="nav-item sub-menus">
                    <a class="nav-link">
                      <%= usernamedata.username %>
                    </a>
                    <ul>
                      <li><a href="/profile"><i class="fa fa-edit"></i> Edit Profile</a></li>
                      <li><a href="/status"><i class="fa fa-clipboard"></i> Check status</a></li>
                      <li><a href="/logout"><i class="fa fa-sign-out"></i> Log out</a></li>
                    </ul>

                  </li>
                  <% } %>
                    <li class="nav-item">
                      <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Status</a>
                </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Page Content -->
  <div class="page-heading product-detail-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>It's fun</h4>
            <h2>EveryDay Product Detail</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Content -->
  <div class="container">
    <div class="row">
      <% if(data.length) { %>
        <div class="col-md-4">
          <div class="product-detail-img">
            <img src="/<%= data[0].book_image %>">
          </div>
        </div>
        <div class="col-md-8">
          <div class="product-detail">
            <table>
              <tr>
                <th>
                  ชื่อ :
                </th>
                <td>
                  <%= data[0].book_name %>
                </td>
              </tr>
              <tr>
                <th>
                  ราคา :
                </th>
                <td>
                  <%= data[0].book_price %> ฿
                </td>
              </tr>
              <tr>
                <th>
                  รายละเอียด :
                </th>
                <td>
                  <%= data[0].book_details %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <br><br>
                  <button onclick="addcart(<%= data[0].book_id %>)" class="button">ADD TO CART</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <% } %>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>EveryDay BY My team</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/javascripts/fd_js/jquery.min.js"></script>
  <script src="/javascripts/fd_js/bootstrap.bundle.min.js"></script>

  <!-- Additional Scripts -->
  <script src="/javascripts/fd_js/custom.js"></script>
  <script src="/javascripts/fd_js/owl.js"></script>

</body>

<script>
  var xhr = new XMLHttpRequest();

  function addcart(x) {
    xhr.open("POST", '/api/user/addcart', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
      book_id: x
    }));

    xhr.onreadystatechange = function () {
      if (this.readyState != 4) return;

      if (this.status == 200) {
          var data = JSON.parse(this.responseText);
          console.log(data);
          
      }
    };
  }

</script>
</html>