<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>EveryDay</title>
  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/FrontEnd/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/style.css">
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/owl.css">
  <link rel="stylesheet" href="/stylesheets/FrontEnd/assets/css/status.css">

</head>

<body>
  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h2>every<em>day</em></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Our Products</a>
            </li>

            <% if(loginstate == 0){ %> 
              <a class="nav-link" href="/login">Log In</a>
            <% } %>

            <% if(loginstate == 1){ %>
            <li class="nav-item sub-menus">
              <a class="nav-link"> <%= usernamedata.username %>  </a>
              <ul>
                  <li><a href="/profile"><i class="fa fa-edit"></i> Edit Profile</a></li>
                  <li><a href="/status"><i class="fa fa-clipboard"></i> Check status</a></li>
                  <li><a href="/logout"><i class="fa fa-sign-out"></i> Log out</a></li>
              </ul>

            </li>
            <% } %>

            <li class="nav-item">
              <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Status</a>
              </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Page Content -->
  <div class="page-heading status-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>Hang on a moment</h4>
            <h2>EveryDay Check Status</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- serach -->
  <div class="search_box">
    <div class="search_btn"><i class="fa fa-search"></i></div>
    <input type="text" class="input_search" placeholder="Search">
  </div>
  <br>
  <!-- end serach -->
  <% if(data.length) { %>
  <table class="center">
    <tr>
      <th>รหัสคำสั่งซื้อ</th>
      <th>ผู้สั่งสินค้า</th>
      <th>วัน/เวลาที่ซื้อ</th>
      <th>วัน/เวลาที่ส่ง</th>
      <th>ราคารวม</th>
      <th>จำนวน</th>
      <th>สถานะสินค้า</th>
      <th>รายการสินค้า</th>
    </tr>
    <% for(let i=0; i < data.length; i++) { %>
    <tr>
      <td><%= data[i].order_details_id %> </td>
      <td><%= data[i].user_cusname %></td>
      <td><%= data[i].order_datestartsend %></td>
      <td><%= data[i].order_dateendsend %></td>
      <td><%= data[i].order_totalprice %></td>
      <td><%= data[i].order_details_qty %></td>
      <td><%= data[i].order_status %></td>
      <td><a href="/order-detail">รายละเอียด</a></td>
    </tr>
    <% } %>
  </table>
  <% } %>
  <% if(!data.length) { %>
    <p class="text-center"><br><br>No order found!</p>
    <% } %>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>EveryDay BY My team</p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="/javascripts/fd_js/jquery.min.js"></script>
  <script src="/javascripts/fd_js/bootstrap.bundle.min.js"></script>


  <!-- Additional Scripts -->
  <script src="/javascripts/fd_js/custom.js"></script>
  <script src="/javascripts/fd_js/owl.js"></script>

</body>

</html>